.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer.active {
  max-height: 200px; /* Выберите достаточно большое значение */
  transition: max-height 0.5s ease-in-out;
}

.plus-minus {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease-in-out; /* Анимация для изменения масштаба */
}

.icon-plus.active .plus-minus {
  transform: rotate(
    45deg
  ); /* Поворачиваем на 45 градусов при активном состоянии */
}

/*------------------------------------------------*/
  
.circle1 {
  left: -550px;
  top: -370px;
  position: absolute;
  border-radius: 651px;
  opacity: 0.5;
  background: var(--pink, #e1016e);
  filter: blur(150px);
  width: 750px;
  height: 751px;
  flex-shrink: 0;
}

.circle2 {
  left: 1650px;
  top: 0px;
  position: absolute;
  border-radius: 531px;
  opacity: 0.5;
  background: var(--pink, #e1016e);
  filter: blur(140px);
  width: 200px;
  height: 531px;
  flex-shrink: 0;
}

.circle3 {
  left: 1650px;
  top: 300px;
  position: absolute;
  border-radius: 604px;
  opacity: 0.5;
  background: var(--purple, #8900c9);
  filter: blur(150px);
  width: 200px;
  height: 604px;
  flex-shrink: 0;
}
