.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer.active {
  max-height: 200px; /* Выберите достаточно большое значение */
  transition: max-height 0.5s ease-in-out;
}

.plus-minus {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease-in-out; /* Анимация для изменения масштаба */
}

.icon-plus.active .plus-minus {
  transform: rotate(
    45deg
  ); /* Поворачиваем на 45 градусов при активном состоянии */
}


/*------------------------------------------------*/
  