* {
    margin: 0;
    padding: 0;
}


:root {
    --main-bg-color: #21093A;
    --standart-txt-color: #FFF;
    --border-nav: #E1016E;
    --gradient-btn: linear-gradient(78deg, #E5006D 6.38%, #C90171 21.48%, #961975 48.48%, #6F1F78 70.91%, #56207A 87.63%, #4C217A 96.76%);
    --violet: #961975;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 54px;
    padding-top: 25px;
}

a {
    text-decoration: none;
    font-family: 'Raleway-light';
    color: var(--standart-txt-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
}

p {
    text-decoration: none;
    font-family: 'Raleway-regular';
    color: var(--standart-txt-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 1180px;
    margin: 0 auto;
    max-width: 80%;
}

.prv-block {
    background-color: var(--main-bg-color);
    height: 850px;
}

.hdr-nav {
    width: 735px;
    margin-right: 125px;
}

.hdr-ul {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.logo-petrocollege {
    width: 147px;
    height: 54px;
}

.petro-logo {
    width: 147px;
    height: 54px;
    margin-top: 5px;
}

.main-page {
    padding-bottom: 10px;
    border-bottom: 1px var(--border-nav) solid;
}

.prv-div {
    margin-top: 150px;
    display: flex;
}

.prv-description-h {
    width: 762px;

}

h1 {
    color: var(--standart-txt-color);
    font-family: 'Dela';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.prv-description-txt {
    margin-top: 30px;
}

button {
    width: 250px;
    align-items: center;
    height: 60px;
    font-family: 'Raleway-regular';
    color: var(--standart-txt-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.prv-description-btns {
    width: 520px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.btn-from-college {
    background: var(--gradient-btn);
}

button:hover {
    transition: .5s;
    filter: saturate(0.8);
}

.btn-other-place {
    background: none;
    border: 1px solid var(--violet);
}

.prv-info {
    position: absolute;
    top: 0px;
    right: 325px;
    background: url(../img/man.png) no-repeat center center;
    height: 850px;
    width: 450px;
}

.btn-for-vk {
    margin-top: 615px;
    margin-left: 135px;
    padding-top: 16px;
    width: 284px;
    height: 80px;
    background: var(--violet);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 0px 0.90051px #5F0B57;
}

.btn-for-vk-span {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-top: 7px;
}

