* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #21093a;
  --standart-txt-color: #fff;
  --border-nav: #e1016e;
  --gradient-btn: linear-gradient(
    78deg,
    #e5006d 6.38%,
    #c90171 21.48%,
    #961975 48.48%,
    #6f1f78 70.91%,
    #56207a 87.63%,
    #4c217a 96.76%
  );
  --violet: #961975;
  --dark-purple: #4b1962;
  --light-purple: #f4f2fd;
  --dark: #21093a;
  --pink: #e1016e;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding-top: 25px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  font-family: "Raleway-light";
  color: var(--standart-txt-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
}

p {
  text-decoration: none;
  font-family: "Raleway-regular";
  color: var(--standart-txt-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.container-background {
  padding-top: 50px;
  padding-bottom: 65px;
  width: 1380px;
  border-radius: 20px;
  background: var(--dark);
  margin: 0 auto;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.container-header {
  width: 1180px;
  margin: 0 auto;
  max-width: 80%;
}
.circle {
  border-radius: 751px;
  opacity: 0.5;
  background: var(--pink, #e1016e);
  filter: blur(150px);
    
  width: 750px;
  height: 751px;
  flex-shrink: 0;
}
.prv-block {
  background-color: var(--main-bg-color);
  height: 804px;
  margin-top: 0;
  padding: 0;
}

.prv-block-geo {
  background-color: var(--main-bg-color);
  margin-top: 0;
  padding: 0;
  height: 850px;
}

.hdr-nav {
  width: 735px;
  margin-right: 125px;
  z-index: 5;
}

.hdr-ul {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

.logo-petrocollege {
  width: 147px;
  height: 54px;
}

.petro-logo {
  width: 147px;
  height: 54px;
  margin-top: 5px;
}

.main-page,
.list-page,
.qstn-page,
.geo-page {
  padding-bottom: 10px;
}

/* Сначала скроем подчеркивание и установим начальные значения анимации */
/* Начальные стили для ссылок */
/* Начальные стили для ссылок */
.hdr-ul li a {
  position: relative;
  text-decoration: none;
  color: var(--standart-txt-color); /* Начальный цвет текста */
  transition: color 0.3s ease-in-out;
}

/* Подчеркивание */
/* Начальные стили для ссылок */
/* Начальные стили для ссылок */
.hdr-ul li a {
  position: relative;
  text-decoration: none;
  color: var(--standart-txt-color); /* Начальный цвет текста */
  transition: color 0.3s ease-in-out;
}

/* Подчеркивание */
.hdr-ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e1016e; /* Цвет подчеркивания */
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

/* Анимация подчеркивания при наведении */
.hdr-ul li:hover a::before {
  width: 100%;
}

/* Подсветка текста при наведении */
.hdr-ul li:hover a {
  text-shadow: 0px 0px 10px #e5006d; /* Подсветка текста при наведении */
}

.icon-plus img {
  cursor: pointer;
}

.prv-div {
  margin-top: 150px;
  display: flex;
}

.prv-description-h {
  width: 762px;
}

h1 {
  color: var(--standart-txt-color);
  font-family: "Dela";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: "Dela";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--dark-purple);
  margin-bottom: 40px;
}

h3 {
  color: var(--dark-purple);
  font-family: "Dela";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.prv-description-txt {
  margin-top: 30px;
}

button {
  width: 250px;
  align-items: center;
  height: 60px;
  font-family: "Raleway-regular";
  color: var(--standart-txt-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.prv-description-btns {
  width: 520px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.btn-from-college {
  background: var(--gradient-btn);
}

button:hover {
  transition: 0.5s;
  filter: saturate(0.8);
}

.btn-other-place {
  background: none;
  border: 1px solid var(--violet);
}

.prv-info {
  position: absolute;
  top: 0px;
  right: 370px;
  background: url(../img/Photo-for-site.png) no-repeat center center;
  height: 850px;
  width: 470px;
  z-index: 1;
}

.btn-for-vk {
  margin-top: 615px;
  margin-left: 135px;
  padding-top: 16px;
  width: 284px;
  height: 80px;
  background: var(--violet);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 0px 0.90051px #5f0b57;
}

.btn-for-vk-span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 7px;
}

.choose-place-for-practice {
  padding-bottom: 50px;
}

.skills .row-skills:nth-child(1) {
  margin-bottom: 20px;
}

.row-skills {
  display: flex;
  justify-content: space-between;
}

.block-skill {
  width: 660px;
  padding: 20px;
  border-radius: 16px;
  border: 3px solid var(--light-purple);
  background: var(--standart-txt-color);
  box-shadow: 5px 10px 20px 0px rgba(48, 3, 53, 0.1);
}

.row-for-icon {
  display: flex;
  justify-content: flex-end;
}

.icon-skill {
  width: 80px;
  height: 80px;
}

.icon-perspectives {
  padding: 4.666px 4.665px 4.667px 4.668px;
  background: url(../img/icons/icon-perspectives.svg) no-repeat center center;
  margin-bottom: 30px;
}

.icon-knowledge {
  background: url(../img/icons/icon-union.svg) no-repeat center center;
  margin-bottom: 38px;
}

.icon-reputation {
  background: url(../img/icons/icon-reputation.svg) no-repeat center center;
  margin-bottom: 34px;
}

.icon-friends {
  background: url(../img/icons/icon-friends.svg) no-repeat center center;
  margin-bottom: 34px;
}

.dscrptn-skills {
  margin-top: 20px;
  color: var(--dark);
  font-family: "Raleway-medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.new_knowledge,
.reputation {
  width: 480px;
}

.txt-reputation {
  width: 440px;
  max-width: 100%;
}

.txt-friends {
  width: 640px;
  max-width: 100%;
}

.how-going-practice h2 {
  color: var(--standart-txt-color);
}

.instruction-practice-row:nth-child(1) {
  margin-bottom: 20px;
}

.instruction-practice-row {
  display: flex;
  justify-content: space-between;
}

.instruction-block {
  display: flex;
  width: 570px;
  height: 220px;
  padding: 20px;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid var(--pink);
}

.instruction-practice-row:nth-child(2) .instruction-block {
  height: 170px;
}

.instruction-block h3 {
  color: var(--light-purple);
  font-size: 24px;
  margin-bottom: 30px;
}

.dscrpt-instruction {
  color: var(--standart-txt-color);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.3px;
}

.block-questions {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.row-question {
  border-top: 1px solid var(--pink);
  padding: 30px 20px;
}

.up-row-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-plus {
  width: 32px;
  height: 32px;
}

.icon-plus img {
  width: 80%;
  height: auto;
}

.questions h2 {
  margin-bottom: 30px;
}

.block-questions {
  margin-bottom: 50px;
}

.ask-question {
  display: flex;
  margin-bottom: 30px;
}

.ask-question-btn {
  margin: 0 auto;
  padding: 20px 30px;
  background: var(--gradient-btn);
  box-shadow: 3px 2px 6px 0px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.3px;
}

.footer-bckgrnd {
  display: flex;
  background: var(--dark);
}

.footer-elements {
  width: 1570px;
  height: 86px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-element {
  display: flex;
  align-items: center;
}

.footer-txt {
  color: var(--standart-txt-color);
  font-family: "Raleway-medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.icon-geo {
  width: 16px;
  height: 20px;
  background: url(../img/footer-icons/geo-vector.svg) no-repeat center center;
}

.icon-phone {
  width: 29px;
  height: 29px;
  background: url(../img/footer-icons/phone-icon.svg) no-repeat center center;
}

.icon-union {
  width: 29px;
  height: 29px;
  background: url(../img/footer-icons/college-icon.svg) no-repeat center center;
}

.footer-element .icon-geo,
.icon-phone,
.icon-union {
  margin-right: 15px;
}

.link-to-main-site:hover {
  text-decoration: underline;
}

.elements-foot-1 {
  display: flex;
  justify-content: space-between;
  width: 705px;
}

.elements-foot-2 {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.answer {
  margin-top: 30px;
}

.answer-txt {
  color: var(--dark);
  font-family: "Raleway-regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* МЕСТОПОЛОЖЕНИЕ */

.containerAll {
  margin: auto;
  max-width: 100%;
  width: 1000px;
}

.blck-geo {
  margin-top: 25px;
  border-radius: 16px;
  border: 1px solid var(--pink, #e1016e);
  padding: 20px;
}

.blck-geo h3 {
  color: var(--light-purple);
  margin-bottom: 30px;
}

.txt-geo {
  color: var(--standart-txt-color);
  font-family: "Raleway-regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.3px;
}

iframe {
  margin: 0 auto;
}

.map {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.gal {
  color: var(--white, #fff);
  font-family: "Raleway-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lik {
  color: var(--white, #fff);
  font-family: "Raleway-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerAll2 {
  width: 1300px;
  margin: auto;
  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.mesto {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.telefon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.college {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footertext {
  color: #fff;
  font-family: "Raleway-Medium";
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}

.chasto {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Dela";
  margin: 0;
}

.voprosi {
  color: white;
  font-family: "Raleway-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
