html,
body {
    margin: 0;
}


.containerAll {
    margin: auto;
    max-width: 100%;
    width: 1000px;

}

.border {
    border-radius: 16px;
    border: 1px solid var(--pink, #E1016E);
    padding: 20px;
}

.head {
    display: flex;
    flex-direction: row;
    width: 1184px;
    margin-top: 20px;
}

.logo {
    width: 182px;
    height: 100px;

}

.img {
    width: 147px;
    height: 54px;
    margin-top: 20px;

}

nav {
    display: flex;
    flex-direction: row;
    width: 881px;
    height: 31px;
    margin-top: 10px;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    text-decoration: none;
}

.line {
    width: 40px;
    height: 1px;
    background: url(./img/Line.svg) no-repeat center center;
    margin-top: 10px;
}

.g {
    color: var(--white, #FFF);
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.s {
    color: var(--white, #FFF);
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.v {
    color: var(--white, #FFF);
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

iframe {
    margin: 0 auto;

}

.map {
    display: flex;
    margin-top: 50px;
}

.gal {
    color: var(--white, #FFF);
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lik {
    color: var(--white, #FFF);
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.containerAll2 {
    width: 1300px;
    margin: auto;
    max-width: 100%;
}

footer {
    background-color: #19072C;
    margin-top: 33px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

}

.mesto {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.telefon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.college {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.footertext {
    color: #FFF;
    font-family: 'Raleway-Medium';
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}

.chasto {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Dela';
    margin: 0;
}

h3 {
    font-family: Dela;
}

.vop {
    display: flex;
    flex-direction: row;

}

.voprosi {
    color: white;
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}